.sign-up
  max-width: 360px
  margin-left: auto
  margin-right: auto

  &__phone,
  &__submit
    width: 100%

.sign-up__code-field
  display: flex
  width: 100%
  max-width: 100%

.sign-up__code-input
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%

.sign-up__send-button
  display: block
  font-size: 14px
  white-space: nowrap
  border-radius: 0 4px 4px 0

a.sign-up__send-button
  line-height: 1.5
