.chip
  display: flex
  align-items: center
  justify-content: center
  height: 72px
  line-height: 72px
  text-align: center
  border-radius: 4px
  font-weight: 500
  color: #52aa00
  background-color: #f5f5f5
  text-decoration: none
  position: relative

.chip__icon
  width: 40px
  height: 40px
  text-align: center
  font-size: 18px

.chip__body
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding-left: 10px
