.dashboard
  padding-top: 20px
  background-color: #f1f1f1

  @media (min-width: 768px)
    min-height: calc(100vh - 79px)

.dashboard__container
  lost-utility: clearfix

.dashboard__col
  @media (max-width: 1023px)
    &:first-child
      margin-bottom: 24px

  @media (min-width: 1024px)
    lost-column: 1/2 2 40px
