.alerts
  position: fixed
  z-index: 1000
  width: 100%
  max-width: 450px
  bottom: 30px
  left: 50%
  transform: translateX(-50%)

.alerts:empty
  display: none

.alert.alert-danger
  color: white
  background-color: hsla(0, 50%, 60%, 1)
