.alert
  position: relative
  border: 0
  padding: 1em
  border-radius: 4px
  box-shadow: 0 0 1px rgba(black, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1)

  & + &
    margin-top: 20px


.alert__close
  cursor: pointer
  font-size: 20px
  border-radius: 2px
  background-color: transparent
  color: white
  position: absolute
  right: 10px
  top: 50%
  transform: translateY(-50%)
  appearance: none
  border: 0
  outline: 0

  &:hover
    background-color: rgba(black, 0.05)

.alert_info,
.alert_warning
  color: white
  background-color: hsla(40, 80%, 50%, 1)
  box-shadow: 0 0 1px rgba(#ff6e00, 0.8), 0 5px 40px rgba(#ff6e00, 0.3)

.alert_danger
  color: white
  box-shadow: 0 0 1px rgba(red, 0.2), 0 5px 40px rgba(red, 0.4)
  background-color: hsla(0, 50%, 50%, 1)
