.card
  overflow: hidden
  border-radius: 4px
  background-color: white
  position: relative
  padding: 30px

.card__title
  color: #69c215
  font-weight: 500
  font-size: 20px
  margin-bottom: 10px

.card__note
  font-size: 14px

  &_warning
    color: red
