.form
  display: block

.form__title
  font-size: 20px
  font-weight: 500
  font-style: normal
  font-stretch: normal
  line-height: 1.2
  letter-spacing: normal
  text-align: left
  color: #52aa00
  margin-bottom: 24px

.form__label
  font-size: 15px
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: 1.6
  letter-spacing: normal
  text-align: left
  color: #333
  margin-bottom: 5px

.form__note
  font-size: 13px
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: normal
  text-align: left
  color: #666666
