.jumbotron
  margin-top: -4px
  background-color: #f0f0f0
  padding-top: 32px
  padding-bottom: 32px

.jumbotron__link
  cursor: pointer
  color: #52aa00
  text-decoration: underline
  &:hover
    color: lighten(#52aa00, 5%)

  &_bot
    font-size: 18px
    color: #ff6e00
    &:hover
      color: lighten(#ff6e00, 5%)

    @media (min-width: 1024px)
      display: block
      text-align: center



.jumbotron__title
  font-size: 30px
  font-weight: 300
  margin-bottom: 35px
  line-height: 1
  color: #333

  @media (min-width: 1024px)
    font-size: 36px

  span
    color: #52aa00

.jumbotron__steps
  @media (min-width: 1024px)
    display: flex
    align-items: center

.jumbotron__step
  display: flex
  align-items: center

  @media (max-width: 1023px)
    &:not(:last-child)
      margin-bottom: 24px

  @media (min-width: 1024px)
    lost-column: 1/3 3 40px flex

  &-image
    max-width: 40px
    min-width: 40px

  &-text
    font-size: 14px
    line-height: 24px
    padding-left: 20px
    max-width: 300px
    width: 100%
    color: #555

.jumbotron__hide
  font-size: 14px
  appearance: none
  cursor: pointer
  border: 0
  background-color: transparent
  color: #555
  padding: 0
  border-bottom: 1px dashed #888
  display: block
  margin-top: 30px
  margin-left: auto
  margin-right: 0

  &:hover
    color: #222

.jumbotron__telegram-links
  white-space: nowrap

  .jumbotron__link
    white-space: nowrap
