.viewers-list__add
  background-color: white
  border: 2px dashed #69c215

  &:hover
    background-color: #fafafa

.viewers-list__remove
  cursor: pointer
  position: absolute
  background-color: transparent
  height: 100%
  width: 50px
  font-size: 20px
  right: 0
  appearance: none
  border: 0
  outline: 0
  color: #aaa

  &:hover
    color: red

.viewers-list__chip
  &:not(:last-child)
    margin-bottom: 24px
