.button
  cursor: pointer
  appearance: none
  font-weight: bold
  font-family: inherit
  text-transform: uppercase
  line-height: 1em
  padding: 1.04em 1em 0.96em
  border-radius: 24px
  user-select: none
  text-decoration: none
  color: white
  border: 0

  &:disabled
    cursor: not-allowed
    background-color: #aaa

.button_skin_primary
  $color: #69c215
  background-color: $color

  &:hover
    background-color: darken($color, 2%)

  &:disabled
    cursor: not-allowed
    background-color: lighten(desaturate($color, 60%), 10%)

.button_skin_secondary
  $color: #ff6e00
  background-color: $color

  &:hover
    background-color: darken($color, 2%)

  &:disabled
    cursor: not-allowed
    background-color: lighten(desaturate($color, 60%), 10%)
