.autosuggest
  background-color: white

  &__input
    // border: 1px solid rgba(black, 0.1)
    // border-radius: 4px
    width: 100%
    // font-size: 18px
    padding: 0 18px

  &__suggestions
    display: block
    border-radius: 4px
    margin-top: 5px
    padding: 0
    box-shadow: 0 2px 15px rgba(black, 0.1)

  &__list
    margin: 0
    padding: 10px 0;
    list-style-type: none
    max-height: 400px
    overflow: auto

  &__suggestion-item
    padding: 12px 18px
    font-size: 16px
    cursor: pointer

    &.is-highlighted
      background-color: rgba(black, 0.05)

    &:not(:first-child)
      border-top: 1px solid rgba(black, 0.03)
