.spinner
  width: 100%
  height: 50px
  text-align: center

.spinner__wheel
  width: 50px
  height: 50px
  margin: 0 auto
  border: 3px solid rgba(black, 0.5)
  border-radius: 50%
  border-left-color: transparent
  border-right-color: transparent
  animation: spinner 575ms infinite linear

@keyframes spinner
  100%
    transform: rotate(360deg)
    transform: rotate(360deg)

.spinner_overlay
  height: 100%
  background-color: rgba(white, 0.8)
  position: absolute
  top: 0
  left: 0

  .spinner__wheel
    position: absolute
    top: 50%
    left: 50%
    margin-top: -25px
    margin-left: -25px


.spinner_absolute
  position: absolute
  top: 50%
  margin-top: -25px
  left: 0

.spinner_with_overlay
  position: absolute
  width: 100%
  height: 100%
  margin-top: 0
  top: 0
  left: 0
  background-color: rgba(white, 0.8)
  z-index: 100
  
  .spinner__wheel
    z-index: 100
    position: relative
    margin-top: -25px
    top: 50%