.header
  display: block
  font-weight: bold
  background-color: white

  border-bottom: 4px solid #f1f1f1

.header__brand
  display: block
  font-weight: bold
  line-height: 1.25
  color: #555
  text-decoration: none
  max-width: 300px

  &:hover,
  &:focus
    text-decoration: none
    color: #333

.header__container
  display: flex
  justify-content: space-between
  align-items: center
  height: 75px

  &:before,
  &:after
    display: none

.header__auth-link
  cursor: pointer
  appearance: none
  line-height: 1.5
  border: 0
  background-color: transparent
  color: #52aa00
  font-family: inherit
  transition: color 0.1s ease

  &:hover
    color: lighten(#52aa00, 5%)
