.camera-dots
  user-select: none
  padding-top: 20px
  padding-bottom: 100px
  max-width: 800px
  margin-left: auto
  margin-right: auto


.camera-dots__dot
  fill: hsla(91, 80%, 38%, 1)
  stroke: white
  stroke-width: 2px
  transition: r 0.2s ease, fill 0.2s ease
  cursor: move
  transform-origin: center center

  &:hover
    fill: hsla(91, 80%, 42%, 1)
    r: 9


.camera-dots__polygon
  fill: hsla(91, 80%, 42%, 0.4)
  stroke: hsla(91, 80%, 62%, 0.4)


.camera-dots__button
  width: 100%
  display: block
  max-width: 350px
  margin-left: auto
  margin-right: auto

.camera-dots__spaces
  max-width: 300px

.camera-dots__input
  width: 100%


.camera-dots__controls
  margin-left: auto
  margin-right: auto

.camera-dots__note
  font-size: 24px
  font-weight: 300
  padding-bottom: 20px
  color: #333

  @media (min-width: 1024px)
    font-size: 24px

.camera-dots__example
  display: block
  margin-top: 24px
  max-width: 100%
  height: auto

.camera-dots__toggle-link
  outline: 0
  cursor: pointer
  font-size: 20px
  padding: 0
  appearance: none
  border: 0
  background-color: transparent
  border-bottom: 1px dashed
  color: #ff6e00
  &:hover
    color: lighten(#ff6e00, 5%)
