.container
  box-sizing: content-box
  max-width: 1160px
  margin-left: auto
  margin-right: auto
  padding-left: 15px
  padding-right: 15px

  @media (min-width: 1024px)
    padding-left: 30px
    padding-right: 30px
